/*抽屉控件*/
.jgui-accordion a:hover {
  color: #ffffff;
}
.jgui-accordion {
  color: #cccccc;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  padding: 1px;
}
.jgui-accordion-list {
  position: relative;
  box-sizing: border-box;
}
.jgui-accordion.itemhover {
  color: #ffffff;
}
.jgui-accordion-navitem {
  line-height: 50px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.jgui-accordion-navitem:hover:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-right-color: #0E6A4A;
  border-right-style: solid;
  border-right-width: 2px;
  pointer-events: none;
  box-sizing: border-box;
}
.jgui-accordion-navitem-child {
  line-height: 40px;
  background-color: #121212;
  cursor: pointer;
  position: relative;
}
.jgui-accordion-navitem a {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jgui-accordion-navitem-child a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 45px;
  padding-left: 45px;
}
.jgui-accordion-navitem-child .jgui-accordion-navitem-child a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 65px;
  padding-left: 65px;
}
.jgui-accordion-navitem-child.selected {
  background-color: #0E6A4A;
  color: #ffffff;
}
.jgui-accordion-navitem-more {
  border-width: 5px;
  content: "";
  border-style: solid solid solid solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #fff;
  top: 50%;
  position: absolute;
  text-align: center;
  right: 10px;
  transition: all 0.2s;
  margin-top: -10px;
}
.jgui-accordion-navitem-more.expanded {
  border-style: solid solid solid solid;
  border-color: #fff transparent transparent transparent;
  margin-top: 0px;
}
