
/*Tab控件*/
.jgui-tab-pre,
.jgui-tab-next {
  font-size: 16px;
  display: block;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  border:1px solid #eeeeee;
  box-sizing: border-box;
}
.jgui-tab-pre:hover,
.jgui-tab-next:hover {
  color: #22B581;
  font-weight: bold;
}
.jgui-tab-pre {
  float: left;
}
.jgui-tab-next {
  float: right;
}
.jgui-tab-close {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top:-10px;
  width: 10px;
  font-weight:100;
}
.jgui-tab-close:hover
{
  color: #BB0000;
  font-weight: bold;
}
.jgui-tab{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 45px;
  
 
}
.jgui-tabcontent
{
  position:absolute;
  left:45px;
  right:45px;
  top:0px;
  bottom:0px; 
  white-space: nowrap;
  overflow:hidden;
  display: inline-block;
  line-height: 45px;
  font-size:0;
  box-sizing: border-box;
}
.jgui-tabitem {
  display: inline-block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding: 0px 30px 0px 5px;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
          box-sizing: border-box;
  position: relative;
  margin: 0px;
  width: 150px;
  color: #666666;
  border-radius: 3px;
}
.jgui-tabitem .jgui-tab-item-icon
{
  padding: 0px 5px;
}
.jgui-tabitem.selected {
  zoom: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 3px solid #22B581;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  top: 0px;
  color: #EEE;
  background: #22B581;
  -webkit-transition:color 0.2s;
  transition:color 0.2s;
  margin-bottom: 50px;
}
.jgui-tabitem.selected:hover {
  color:#FFF;
}
.jgui-tabitem.selected:before
{
  border-width: 6px;
  content: "";
  border-style: solid solid solid solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #22B581;
  border-bottom-color: transparent;
  bottom: -12px;
  position: absolute;
  text-align: center;
  left:50%;
  transition: all 0.2s;
  margin-left: -3px;
  z-index: 100;zoom: 1;
}
.jgui-tabitem:hover
{
  zoom:1;
  border-bottom: 3px solid #22B581;
  -webkit-transition:color 0.2s;
  transition:color 0.2s;
  box-sizing: border-box;
  color:#11C571;
}
/*css代码*/
.tabmenu{
  width: 0; /*设置为0 隐藏自定义菜单*/
  height: 125px;
  overflow: hidden; /*隐藏溢出的元素*/
  box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
  position: absolute; /*自定义菜单相对与body元素进行定位*/
}
.menu{
  width: 130px;
  height: 20px;
  line-height: 25px;
  padding: 0 5px;
}