/*Logo*/
.jgui-logo {
    background: #222222;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #444444;
    color: #cccccc;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 100;
    cursor: pointer;
    display: inline-block;
 
  }
  .jgui-logo:hover
  {
    color:#ffffff;
  }
  /*页面布局*/
  .jgui-page {
    position: fixed;
    background-color: #222222;
  }
  .page-left {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #222222;
    top: 0px;
    width: 300px;
    position: fixed;
    bottom: 40px;
  }
  .page-center {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffffff;
    top: 0px;
    left: 300px;
    right: 0px;
    position: absolute;
    bottom: 0px;
  }
  .page-top {
    background-color: #ffffff;
    height: 60px;
    border-bottom: 1px solid #f6f6f6;
    top: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .page-bottom {
    background-color: #ffffff;
    height: 40px;
    border-bottom: 1px solid #f6f6f6;
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    line-height: 40px;
    height: 40px;
    text-align: center;
  }
  .page-tab {
    zoom: 1;
    height: 45px;
    border-bottom: 1px solid #f6f6f6;
    top: 61px;
    position: absolute;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
  }
  .page-content {
    zoom: 1;
    position: absolute;
    top: 105px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 15px;
    background: #eeeeee;
    box-sizing: border-box;
  }