
/*Tab组件*/
.jgui-tab-pre,
.jgui-tab-next {
  font-size: 16px;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.jgui-tab-pre {
  float: left;
}
.jgui-tab-next {
  float: right;
}
.jgui-tab-close {
  font-size: 12px;
  padding: 0px 0px 0px 15px;
}

.jgui-tabitem {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}
.jgui-tabitem.selected {
  background: #f0f0f0;
  border-top: 2px solid #008888;
  top: 0px;
  color: #008888;
}
